[package]
name = "clvm-zk-mock"
version = "0.1.0"
edition = "2021"

[dependencies]
clvm-zk-core = { path = "../../clvm_zk_core", features = ["sha2-hasher", "std"] }
borsh = "1.5.7"
blst = "0.3"
sha2 = "0.10"
